<!DOCTYPE html>
<html lang="cs">
<head>
  <meta property="og:url" content="https://www.veterinapaprsek.cz"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Veterina Paprsek"/>
  <meta property="og:description" content="Jsme soukromá veterinární klinika s dlouholetou tradicí, která svým rodinným přístupem přináší tu nejlepší péči pro Vaše mazlíčky."/>
  <meta property="og:image" content="/images/intro.jpg"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta property="og:url" content="https://www.veterinapaprsek.cz"/>
  <meta name="description" content="Jsme soukromá veterinární klinika s dlouholetou tradicí, která svým rodinným přístupem přináší tu nejlepší péči pro Vaše mazlíčky.">
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Veterina Paprsek"/>
  <meta property="og:description" content="Jsme soukromá veterinární klinika s dlouholetou tradicí, která svým rodinným přístupem přináší tu nejlepší péči pro Vaše mazlíčky."/>
  <meta property="og:image" content="/images/intro.jpg"/>
  <!-- Přidání Google Fonts - Open Sans -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/images/favicon.png" type="image/png">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
{{ partial "header.html" . }}

<main>
  {{ block "main" . }}{{ end }}
</main>

{{ partial "footer.html" . }}

<!-- Scroll to top button -->
<div id="scroll-to-top" class="scroll-to-top">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <polyline points="18 15 12 9 6 15"></polyline>
  </svg>
</div>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<script src="/js/main.js"></script>
</body>
</html>
